<div class="card">
  <div class="card-header">
    <h3 class="card-title">
      <b>{{ id }}</b>
    </h3>
  </div>
  <div class="card-header">
    <h5>Recipe Details</h5>
  </div>
  <div class="card-body d-flex justify-content-between">
    <app-ingredients
      class="mt-4 mx-4"
      [Ingredients]="ingredients"
      [Measurements]="measurements"
    ></app-ingredients>
    <div class="image-container" style="width: 400px">
      <img src="{{ activeRecipe.strMealThumb }}" alt="No video available" />
    </div>
    <app-video [videoUrl]="videoUrl" *ngIf="videoUrl"></app-video>
  </div>
  <div class="card-body d-flex justify-content-between">
    <app-instructions
      class="mt-4 mx-4"
      [Instructions]="instructions"
    ></app-instructions>
  </div>
  <br />
  <br />
</div>
