<div class="class1">
  <div class="container">
  <!-- <div class="material-table"> -->
    <div >
      
      <h1>Find a Recipe</h1>
     
      <form class="search-form">
        <mat-form-field class="example-full-width">
           <input class="toolbar-search" type="text" matInput [(ngModel)]="searchTerm" name="first">
           <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
        </mat-form-field>
      </form>
      <!-- <mat-form-field>
        <input
          matInput
          [(ngModel)]="searchTerm"
        />
         <mat-icon class='search-icon' fontIcon="search" color="primary" matSuffix (click)="filterCountries(searchTerm)"
          ></mat-icon
        > 
        <mat-icon color = "primary">check</mat-icon>
      </mat-form-field> -->
      <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table> -->
    
    <!-- </div> -->
  </div></div>