<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="mx-auto" style="max-width: 1200px">
        <div class="d-flex justify-content-between p-1">
          <span
            class="badge rounded-pill text-bg-primary px-4 py-2"
            (click)="searchCategory($event)"
            >Breakfast</span
          >
          <span
            class="badge rounded-pill text-bg-secondary px-4 py-2"
            (click)="searchCategory($event)"
            >Pasta</span
          >
          <span
            class="badge rounded-pill text-bg-success px-4 py-2"
            (click)="searchCategory($event)"
            >Beef</span
          >
          <span
            class="badge rounded-pill text-bg-danger px-4 py-2"
            (click)="searchCategory($event)"
            >Chicken</span
          >
          <span
            class="badge rounded-pill text-bg-warning px-4 py-2"
            (click)="searchCategory($event)"
            >Seafood</span
          >
          <span
            class="badge rounded-pill text-bg-info px-4 py-2"
            (click)="searchCategory($event)"
            >Vegetarian</span
          >
          <span
            class="badge rounded-pill text-bg-dark px-4 py-2"
            (click)="searchCategory($event)"
            >Dessert</span
          >
        </div>
        <app-spinner [isLoading]="isLoading"></app-spinner>
      </div>
    </div>
  </div>
</div>
<br />
<div class="class1 full-width-image">
  <div class="container">
    <div>
      <br />
      <br />
      <h1 style="color: beige; font-family: serif">Find a Recipe</h1>
      <form [formGroup]="searchForm" class="search-form" (submit)="onFormSubmit($event)">
        <mat-form-field>
          <input
            #timezoneSearch
            type="text"
            matInput
            name="searchQuery"
            [(ngModel)]="searchQuery"
            [formControl]="dataControl"
            [matAutocomplete]="auto"
            (keyup.enter)="searchResults(searchQuery)"
          />
          <mat-autocomplete #auto="matAutocomplete"  (optionSelected)="onOptionSelected($event)">
            <mat-option
              *ngFor="let item of results$ | async"
              [value]="item.strMeal"
            >
              {{ item.strMeal }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      <br>
    </div>
  </div>
</div>
